
body {
    background-color: lightgray;
}
.conn4 {
    align-items: center;
}

.gameBoard {
    display:flex;
    align-items: center;
    border-style: solid;
    width: 800px;
    height: 700px;
    flex-wrap: wrap;
}
.gameBoard div {
   width: 100px;
   height: 100px;
   background-color: lightblue;
}
