* {
    margin: 0 auto;
    text-align: center;
}
Body {
    background-color: lightblue;
}
.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 5rem;
    transition: 100ms;
}
.selection:hover {
    transform: scale(1.1);
}